<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <th:block th:replace="fragments/head.html :: head(#{auth.authenticate.title}, '/js/auth-main.js')"></th:block>
  </head>

  <body class="layout auth">

    <div th:replace="~{fragments/error/error.html :: error}"></div>
    <div th:replace="admin/fragments/success/success.html :: success"></div>
    
    <div class="container1">
      <div class="theme auth">
        <input id="theme" type="checkbox" />
        <label class="icon" for="theme" id="light-mode">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed"
          >
            <path
              d="M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm0 80q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Zm326-268Z"
            />
          </svg>
        </label>
        <label class="icon" for="theme" id="dark-mode">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed"
          >
            <path
              d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Zm0-80q88 0 158-48.5T740-375q-20 5-40 8t-40 3q-123 0-209.5-86.5T364-660q0-20 3-40t8-40q-78 32-126.5 102T200-480q0 116 82 198t198 82Zm-10-270Z"
            />
          </svg>
        </label>
        <div class="icon">
          <a th:href="@{/}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e8eaed"
            >
              <path
                d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"
              />
            </svg>
          </a>
        </div>
        <div th:replace="fragments/i18n.html :: i18n"></div>
      </div>
      <form
        th:action="@{/restricted/authenticate}"
        class="form-login"
        method="POST"
        id="login-anchor"
      >
        <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
        <fieldset>
          <legend th:text="#{auth.authenticate.legend}">Authenticate</legend>
          <label
            for="user-name"
            data-invalid="Invalid User Name"
            data-empty="Enter your User Name"
            data-valid="Valid User Name"
            th:attr="data-invalid=#{auth.username.invalid}, data-empty=#{auth.username.empty}, data-valid=#{auth.username.valid}"
          >
            <div class="help" id="user-name-help" th:text="#{auth.username.help}">
              You must enter your username generated by the system
            </div>
            <th:block th:text="#{auth.username.enter}">Enter Your User name :</th:block>
            <!--Crockford Base32-->
            <input
              type="text"
              id="user-name"
              aria-describedby="user-name-help"
              placeholder="Doe"
              pattern="^[STA]-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]$"
              size="13"
              name="username"
              required
              autocomplete="username"
            />
          </label>
          <label
            for="password"
            data-invalid="Invalid Password"
            data-empty="Input a Password"
            data-valid="Password is Valid"
            th:attr="data-invalid=#{auth.password.invalid}, data-empty=#{auth.password.empty}, data-valid=#{auth.password.valid}"
          >
            <div class="help" id="password-help" th:text="#{auth.password.help}">
              At least 1 uppercase, lowercase character, number and a special
              character is required
            </div>
            <th:block th:text="#{auth.password.enter}">Enter Your Password :</th:block>
            <input
              type="password"
              id="password"
              aria-describedby="password-help"
              placeholder="password"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).+$"
              name="password"
              required
              autocomplete="current-password"
            />
          </label>
          <div class="remember-me">
            <input
              type="checkbox"
              aria-checked="false"
              id="remember-me"
              name="remember-me"
            /><span th:text="#{auth.rememberMe}">Remember me</span>
            <input
              type="checkbox"
              aria-checked="false"
              id="show-password"
            /><span th:text="#{auth.password.show}">Show Password</span>
          </div>
        </fieldset>
        <button type="submit" th:text="#{auth.authenticate.button}">Authenticate</button>
        <div class="opts">
          <a href="#sign-in-anchor" th:text="#{auth.register.link}">Register</a>
          <a th:href="@{/restricted/forgotPassword}" th:text="#{auth.forgotPassword.link}">Forgot Password?</a>
        </div>
      </form>

      <form
        th:action="@{/restricted/request}"
        class="form-signIn"
        method="POST"
        id="sign-in-anchor"
      >
        <fieldset>
          <legend th:text="#{auth.requestSignIn.legend}">Request A Sign in</legend>
          <label
            for="first-name"
            data-invalid="Invalid First Name"
            data-empty="Enter your First Name"
            data-valid="Valid First Name"
            th:attr="data-invalid=#{auth.firstName.invalid}, data-empty=#{auth.firstName.empty}, data-valid=#{auth.firstName.valid}"
          >
            <div class="help" id="first-name-help-request" th:text="#{auth.firstName.help}">
              You must enter your valid real first name
            </div>
            <th:block th:text="#{auth.firstName.enter}">Enter Your First name :</th:block>
            <input
              type="text"
              id="first-name"
              aria-describedby="first-name-help-request"
              placeholder="John"
              pattern="^[A-Z]{1}[a-z]{1,14}$"
              maxlength="15"
              name="firstName"
              autocomplete="given-name"
            />
          </label>
          <label
            for="last-name"
            data-invalid="Invalid Last Name"
            data-empty="Enter your Last Name"
            data-valid="Valid Last Name"
            th:attr="data-invalid=#{auth.lastName.invalid}, data-empty=#{auth.lastName.empty}, data-valid=#{auth.lastName.valid}"
          >
            <div class="help" id="last-name-help-request" th:text="#{auth.lastName.help}">
              You must enter your valid real last name
            </div>
            <th:block th:text="#{auth.lastName.enter}">Enter Your Last name :</th:block>
            <input
              type="text"
              id="last-name"
              aria-describedby="last-name-help-request"
              placeholder="Doe"
              pattern="^[A-Z]{1}[a-z]{1,19}$"
              maxlength="20"
              name="lastName"
              autocomplete="family-name"
            />
          </label>
          <label
            for="email"
            data-invalid="Invalid Email"
            data-empty="Enter your Email"
            data-valid="Valid Email"
            th:attr="data-invalid=#{auth.email.invalid}, data-empty=#{auth.email.empty}, data-valid=#{auth.email.valid}"
          >
            <div class="help" id="email-help-request" th:text="#{auth.email.help}">
              You must enter your email
            </div>
            <th:block th:text="#{auth.email.enter}">Enter Your Email :</th:block>
            <input
              type="email"
              id="email"
              aria-describedby="email-help-request"
              placeholder="example@mail.com"
              pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9._%+-]+\\.[A-Za-z]{2,6}$"
              name="email"
              autocomplete="email"
            />
          </label>
          <label for="role">
            <th:block th:text="#{auth.role.question}">Who are you claiming to be?</th:block>
            <select name="role" id="role">
              <option value="TEACHER" th:text="#{auth.role.teacher}">Teacher</option>
              <option value="STUDENT" th:text="#{auth.role.student}">Student</option>
            </select>
          </label>
        </fieldset>
        <button type="submit" th:text="#{auth.requestSignIn.button}">Request</button>
        <div class="opts">
          <a href="#login-anchor" th:text="#{auth.alreadyRegistered.link}">Already registered? Authenticate!</a>
        </div>
      </form>
    </div>
    <div class="container2">
      <div class="wrapper">
        <div class="logo auth" title="Website Logo" th:attr="title=#{brand.logo.title}">
          <div class="icon"></div>
          <a th:href="@{/}" th:utext="#{brand.logo}"><span>Code</span> World</a>
        </div>
        <div class="welcome">
          <h1 th:text="#{auth.welcomeBack.title}">Welcome back!</h1>
          <p th:utext="#{auth.welcomeBack.message}">
            We are glad to see you again! <br />
            Please authenticate to access and manage your data!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
