<!-- <!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Transactions</title>
  </head>

  <div th:replace="~{fragments/head.html :: head}"></div>

  <body class="layout dashboard">
    <div id="top-anchor"></div>

    <div th:text="${transactionsOnPage.number}"></div>

    <div th:replace="~{fragments/header.html :: header}"></div>

    <main>
      <div class="wrapper transaction">
        <div
          th:replace="~{fragments/profile-container.html :: profile-container}"
        ></div>
        <div
          th:replace="~{fragments/salary-container.html :: salary-container}"
        ></div>
        <div th:replace="~{fragments/support.html :: support}"></div>

        <div
          th:replace="~{fragments/transactions-filter.html :: transactions-filter}"
        ></div>

        <div class="activity transactions">
          <div class="title" id="transactions">
            <h1>Transactions</h1>
          </div>
          <div class="panel">
            <dialog
              th:replace="~{fragments/transaction-dialog :: transaction-dialog}"
            ></dialog>
            <table>
              <thead>
                <tr>
                  <th>Date</th>
                  <th class="description">Description</th>
                  <th>Status</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody
                th:replace="~{fragments/tableBody.html :: tableBody}"
              ></tbody>
            </table>
          </div>
          <nav th:if="${transactionsOnPage.totalPages > 1}" class="pagination">
            <ul>
              <li>
                <a
                  tabindex="-1"
                  th:if="${transactionsOnPage.hasPrevious()}"
                  th:href="@{/transactions/filterTransactions(pageIndex=${transactionsOnPage.number})}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e8eaed"
                  >
                    <path
                      d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"
                    />
                  </svg>
                </a>
              </li>
              <li 
                th:each="page : ${pages}"
                th:class="${page.isActive}"
              >
                <a
                  th:href="@{/transactions/filterTransactions(perPage=${page.perPage}, pageIndex=${page.pageIndex}, direction=${page.direction}, role=${page.role})}"
                  th:text="${page.pageIndex}"
                ></a>
              </li>
              <li>
                <a
                  th:if="${transactionsOnPage.hasNext()}"
                  th:href="@{/transactions/filterTransactions(pageIndex=${transactionsOnPage.number+2})}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e8eaed"
                  >
                    <path
                      d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <div th:replace="fragments/footer.html :: footer"></div>
  </body>
</html> -->
