<main data-spa-root th:fragment="users-main" th:if="${spa == 'USERS'}">
  
  <div th:replace="admin/fragments/error/error.html :: error"></div>
  <div th:replace="admin/fragments/success/success.html :: success"></div>

  <div
    th:replace="~{admin/fragments/main/header/users-header.html :: users-header}"
  ></div>
  <div class="wrapper">
    <div class="containers">
      <div class="container" id="container8">
        <form
          action="/admin/fetchUser"
          method="POST"
          id="fetch-user"
          data-spa-form
          class="fetch-user"
        >
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <input type="hidden" name="fragment" value="true" />

          <label for="user-id">Enter User ID : </label>
          <input name="userId" id="user-id" type="number" placeholder="0000" th:value="${userId}" />
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="container" id="container9">
        <div
          th:replace="~{admin/fragments/main/form/fetch-user.html :: fetch-user(${userProjection})}"
        ></div>
      </div>
    </div>
  </div>
</main>
