<div class="personal-details" th:fragment="password">
  <div class="title">
    <h3 th:text="#{account.password.title}">Password</h3>
    <!-- <small th:text="${user.lastChanged}"></small> -->
  </div>
  <div class="panel">
    <p>
      <span th:text="#{account.password.description}">Create or Update your password</span>
      <small>
        <span th:text="#{account.password.lastChangedAt}">Last Changed At :</span>
        <small th:text="${user.passwordLastUpdatedAt}">No Recent Changes...</small>
      </small>
    </p>
    <form
      class="edit"
      th:action="@{/user/updatePassword}"
      method="POST"
      id="change-password-form"
    >
      <label
        for="password"
        data-invalid="Invalid Password"
        data-empty="Input a Password"
        data-valid="Password is Valid"
        th:attr="data-invalid=#{validation.password.invalid},data-empty=#{validation.password.empty},data-valid=#{validation.password.valid}"
      >
        <span th:text="#{account.password.enter}">Enter Your Password :</span>
        <input
          type="password"
          id="password"
          aria-describedby="password-help"
          placeholder="password"
          th:attr="placeholder=#{account.password.placeholder}"
          pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
          name="password"
          required
          autocomplete="new-password"
        />
      </label>
      <label
        for="password2"
        data-invalid="Invalid Password"
        data-empty="Input a Password"
        data-valid="Password is Valid"
        th:attr="data-invalid=#{validation.password.invalid},data-empty=#{validation.password.empty},data-valid=#{validation.password.valid}"
      >
        <span th:text="#{account.password.enterAgain}">Enter Your Password Again :</span>
        <input
          type="password"
          id="password2"
          aria-describedby="password-help"
          placeholder="password"
          th:attr="placeholder=#{account.password.placeholder}"
          pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
          name="password2"
          required
          autocomplete="new-password"
        />
      </label>
      <div class="show-password">
        <input type="checkbox" aria-checked="false" id="show-password" /><span
          th:text="#{account.password.show}"
          >Show Password</span
        >
      </div>
      <button class="edit" id="change-password-button" type="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
          />
        </svg>
        <span th:text="#{account.password.changeButton}">CHANGE PASSWORD</span>
      </button>
    </form>
  </div>
</div>
