<table th:fragment="students">
  <thead>
    <tr>
      <th th:text="#{students.table.id}">ID</th>
      <th class="description" th:text="#{students.table.fullName}">Student Full Name</th>
      <th th:text="#{students.table.isPresent}">isPresent</th>
    </tr>
  </thead>
  <tbody>
    <tr
      th:if="${selectedSection == null or selectedSection.enrollments == null or #lists.isEmpty(selectedSection.enrollments)}"
    >
      <td colspan="3" th:text="#{students.table.noStudents}">No students found.</td>
    </tr>

    <tr
      th:each="enrollment : ${selectedSection != null ? selectedSection.enrollments : {}}"
    >
      <td>
        <p th:text="${enrollment.studentId}"></p>
      </td>
      <td class="description">
        <h2
          th:text="${enrollment.studentFirstName + ' ' + enrollment.studentLastName}"
        ></h2>
      </td>
      <td>
        <input 
            type="radio" 
            th:name="${'attendance[' + enrollment.studentId + ']'}" 
            value="true" 
            th:attr="present=#{students.table.present}"
            present 
            th:checked="${enrollment.isPresent}"
        />
        <input 
            type="radio" 
            th:name="${'attendance[' + enrollment.studentId + ']'}"
            value="false" 
            th:attr="non-present=#{students.table.notPresent}"
            non-present 
            th:checked="${!enrollment.isPresent}"
        />
      </td>
    </tr>
  </tbody>
</table>
