<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>

  <head>
    <title>Account</title>
  </head>

  <div th:replace="~{fragments/head.html :: head}"></div>

  <body class="layout-dashboard">
    <div id="top-anchor"></div>
    
    <div th:replace="~{fragments/header.html :: header}"></div>

    <div class="account-navigation">
      <nav>
        <ul>
          <li class="current"><a href="#">Element</a></li>
          <li><a href="#">Element</a></li>
          <li><a href="#">Element</a></li>
          <li><a href="#">Element</a></li>
          <li><a href="#">Element</a></li>
        </ul>
      </nav>
    </div>
    <main>
      <div class="wrapper account">
        
        <div th:replace="~{fragments/profile-container.html :: profile-container}"></div>
        <div th:replace="~{fragments/balance-container.html :: balance-container}"></div>
        <div th:replace="~{fragments/support.html :: support}"></div>
        
        <div class="personal-details-container">
          <div class="personal-details">
            <div class="title">
              <h3>Personal Details</h3>
              <div class="edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
                  />
                </svg>
                EDIT
              </div>
            </div>
            <div class="panel">
              <address class="vcard">
                <span class="fn">Thomas Rhodes</span><br />
                <span class="dt">12-09-1982</span>
                <span class="adr">
                  <span class="street-address">456 Market St</span><br />
                  <span class="locality">San Francisco</span>,
                  <span class="region">CA</span>
                  <span class="postal-code">94103</span>,
                  <span class="country-name">USA</span>
                </span>
              </address>
            </div>
          </div>
          <div class="personal-details account-settings">
            <div class="title">
              <h3>Account Settings</h3>
              <div class="edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
                  />
                </svg>
                EDIT
              </div>
            </div>
            <div class="panel">
              <address class="vcard">
                <span class="lg">English (United States)</span><br />
                <span class="tz">(GMT-06:00) Central America</span><br />
                <span class="stts">Active</span>
              </address>
            </div>
          </div>
          <div class="personal-details email-addresses">
            <div class="title">
              <h3>Email Addresses</h3>
              <div class="edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
                  />
                </svg>
                EDIT
              </div>
            </div>
            <div class="panel">
              <address class="vcard">
                <a class="email" href="mailto:johndoe@example.com">
                  johndoe@example.com</a
                ><br />
                <a class="email" href="mailto:johndoe@example.com">
                  johndoe@example.com</a
                ><br />
                <a class="email" href="mailto:johndoe@example.com">
                  johndoe@example.com</a
                >
              </address>
            </div>
          </div>
          <div class="personal-details phone">
            <div class="title">
              <h3>Phone</h3>
              <div class="edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
                  />
                </svg>
                EDIT
              </div>
            </div>
            <div class="panel">
              <address class="vcard">
                <span class="tel primary">+1-555-123-4567</span><br />
                <span class="tel">+1-555-123-4567</span>
              </address>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div th:replace="fragments/footer.html :: footer"></div>

  </body>
</html>
