<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/scroll-top.js}" defer></script>
    <script th:src="@{/js/sticky-header.js}" defer></script>
    <script th:src="@{/js/table.js}" defer></script>
    <script th:src="@{/js/dialog.js}" defer></script>
  </head>
</html>
