<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <th:block
      th:replace="fragments/head.html :: head(#{dashboard.title}, '/js/main.js')"
    ></th:block>
  </head>

  <body class="layout dashboard">
    <div id="top-anchor"></div>

    <div th:replace="~{fragments/error/error.html :: error}"></div>
    <div th:replace="admin/fragments/success/success.html :: success"></div>

    <div th:replace="~{fragments/header.html :: header('DASHBOARD')}"></div>

    <main>
      <div class="wrapper">
        <div
          th:replace="~{fragments/profile-container.html :: profile-container}"
        ></div>
        <div
          th:replace="~{fragments/salary-container.html :: salary-container}"
        ></div>
        <div th:replace="~{fragments/payment.html :: payment}"></div>

        <div pagination-filter-root style="display: contents">
          <div
            th:replace="~{fragments/profile-completeness.html :: profile-completeness}"
          ></div>
          <div
            th:replace="~{fragments/transaction-pagination.html :: transactions-filter}"
          ></div>
        </div>

        <div class="activity">
          <div class="title">
            <h1 th:text="#{dashboard.recentActivity.title}">Recent Activity</h1>
          </div>
          <div class="panel">
            <dialog
              th:replace="~{fragments/transaction-dialog.html :: transaction-dialog}"
            ></dialog>
            <table>
              <thead>
                <tr>
                  <th th:text="#{dashboard.table.date}">Date</th>
                  <th class="description" th:text="#{dashboard.table.description}">Description</th>
                  <th th:text="#{dashboard.table.status}">Status</th>
                  <th th:text="#{dashboard.table.amount}">Amount</th>
                </tr>
              </thead>
              <tbody
                th:replace="~{fragments/transaction-pagination.html :: tableBody}"
              ></tbody>
            </table>
          </div>
          <div pagination-nav-root>
            <div th:replace="~{fragments/view-all.html :: view-all}"></div>
            <nav
              th:replace="~{fragments/transaction-pagination.html :: pagination}"
            ></nav>
          </div>
        </div>
      </div>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
  </body>
</html>
