<div
  id="error"
  class="error"
  th:if="${param.error}"
  th:fragment="error"
  style="
    color: red;
    top: 2.5em;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    width: clamp(min(200px, 100vw), 80%, 500px);
    font-weight: 600;
    z-index: 99999;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    padding: 2em;
  "
  body
>
  <span th:text="${param.error}"></span>
  <button
    type="button"
    id="error-button"
    style="
        margin-left: 12px;
        background: transparent;
        cursor: pointer;
    "
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#e3e3e3"
    >
      <path
        d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
      />
    </svg>
  </button>
</div>