<div class="activity" th:fragment="courseEnrollments">
  <div class="title">
    <h1 th:text="#{admin.courseEnrollments.title}">Course Enrollments</h1>
  </div>
  <div class="panel">

    <table>
      <caption th:text="#{admin.courseEnrollments.caption(courseOffering.id, courseOffering.subjectTitle)}">ID: 0 Course Offering based on Subject</caption>
      <thead>
        <tr>
          <th th:text="#{admin.table.id}">ID</th>
          <th class="description" th:text="#{admin.students.fullName}">Full name</th>
          <th th:text="#{admin.table.email}">Email</th>
          <th th:text="#{admin.students.enrolledAt}">EnrolledAt</th>
        </tr>
      </thead>

      <tbody
        th:replace="~{admin/fragments/tables/entity-pagination.html :: courseEnrollmentTableBody(${courseEnrollmentsOnPage})}"
      ></tbody>

    </table>
  </div>
  <div id="pagination-container">
    <nav
      th:replace="~{admin/fragments/tables/entity-pagination.html :: pagination('/admin/courseOfferings/' + ${courseOffering.id}, ${courseEnrollmentsOnPage}, ${pagesForCourseEnrollments}, 'pageIndex')}"
    ></nav>
  </div>
</div>