<div th:fragment="entity-pagination">
  <table style="border-collapse: collapse">
    <tbody th:fragment="tableBody(dataObj)">
      <tr th:if="${dataObj == null or #lists.isEmpty(dataObj)}">
        <td colspan="6" th:text="#{users.none}">No Users found.</td>
      </tr>
      <tr th:each="entity : ${dataObj}">
        <td>
          <p th:text="${entity.id}"></p>
        </td>
        <td class="description">
          <h2 th:text="${entity.firstName + ' ' + entity.lastName}"></h2>
        </td>
        <td>
          <p th:text="${entity.email}"></p>
        </td>
        <td>
          <p th:text="${entity.affiliatedSince}">xx-xx-xxxx</p>
        </td>
        <td>
          <button
            class="delete-user"
            commonDialog
            dialog="deleteUser"
            style="background-color: transparent"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e3e3e3"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </button>
          <dialog deleteUser>
            <div class="wrapper">
              <h2 th:text="#{admin.deleteUser.confirm}">Are You Sure You Want To Delete The User?</h2>
              <form
                th:action="@{/admin/deleteUser/{id}(id=${entity.id})}"
                method="POST"
                data-spa-form
              >
                <input
                  type="hidden"
                  th:name="${_csrf.parameterName}"
                  th:value="${_csrf.token}"
                />
                <input type="hidden" th:value="${spa}" name="spa" />
                <input type="hidden" th:value="${entity.role}" name="role" />

                <button
                  type="submit"
                  style="background-color: red; border-radius: 10px"
                  th:text="#{admin.deleteUser.action}"
                >
                  Delete User
                </button>
                <button type="button" style="border-radius: 10px" clsBttn th:text="#{common.cancel}">
                  Cancel
                </button>
              </form>
            </div>
            <button class="close-button" clsBttn>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e8eaed"
              >
                <path
                  d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                />
              </svg>
            </button>
          </dialog>
        </td>
        <td>
          <form
            th:action="@{/admin/banUnbanUser/{id}(id=${entity.id})}"
            method="post"
            data-spa-form
          >
            <input
              type="hidden"
              th:name="${_csrf.parameterName}"
              th:value="${_csrf.token}"
            />
            <input type="hidden" name="spa" th:value="${spa}" />
            <input type="hidden" th:value="${entity.role}" name="role" />
            <button
              type="submit"
              th:text="${entity.isBanned ? #messages.msg('users.unban') : #messages.msg('users.ban')}"
              th:class="${entity.isBanned ? 'unBan' : 'ban'}"
            ></button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody th:fragment="payableTableBody(dataObj)">
      <tr th:if="${dataObj == null or #lists.isEmpty(dataObj)}">
        <td colspan="5" th:text="#{dataObj.none}">Nothing is here yet...</td>
      </tr>
      <tr th:each="entity : ${dataObj}">
        <td>
          <p th:text="${entity.id}"></p>
        </td>
        <td class="description">
          <h2 th:text="${entity.firstName + ' ' + entity.lastName}"></h2>
        </td>
        <td>
          <b
            th:text="${entity.payment.getAmount() + entity.payment.getCurrency().getCurrencySign()}"
          ></b>
        </td>
        <td>
          <b th:text="${entity.nextDate}"></b>
        </td>
        <td>
          <button
            commonDialog
            dialog="pay"
            th:if="${spa == 'TEACHERS'}"
            style="color: black; border-radius: 10px"
            th:text="#{common.pay}"
          >
            Pay
          </button>
          <dialog pay th:if="${spa == 'TEACHERS'}">
            <div class="wrapper">
              <form
                class="transaction-details"
                th:action="@{/admin/recordTransaction}"
                method="POST"
                th:object="${transaction}"
                data-spa-form=""
              >

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" name="teacherId" th:value="${entity.id}" />
                <input type="hidden" th:value="${spa}" name="spa" />
                <input type="hidden" th:value="${entity.role}" name="role" />

                <div class="header">
                  <h1 class="title" th:text="#{transaction.details.title}">Transaction Details</h1>
                </div>

                <div class="amount-details">
                  <div class="data">
                    <label for="amount"
                      ><small th:text="#{transaction.form.amount}">Transaction Amount :</small></label
                    >
                    <input
                      required
                      placeholder="0.00$"
                      autocomplete="transaction-amount"
                      type="number"
                      id="amount"
                      name="transactionAmount"
                      th:value="${entity.payment.getAmount()}"
                      readonly
                    />
                  </div>
                  <div class="data">
                    <label for="fee"><small th:text="#{transaction.form.fee}">Transaction Fee :</small></label>
                    <input
                      required
                      placeholder="0.00$"
                      autocomplete="transaction-amount"
                      type="number"
                      id="fee"
                      name="transactionFee"
                    />
                  </div>
                </div>

                <div class="others">
                  <div class="paid-by">
                    <label for="paid-by"><small th:text="#{transaction.form.paidBy}">Paid By :</small></label>
                    <input type="text" id="paid-by" name="paidBy" />
                  </div>

                  <div class="description">
                    <label for="description"
                      ><small th:text="#{transaction.form.description}">Description : </small></label
                    >
                    <input
                      type="text"
                      id="description"
                      name="transactionDescription"
                    />
                  </div>

                  <div class="data">
                    <label for="currency"><small th:text="#{transaction.form.currency}">Currency : </small></label>
                    <select name="currency" id="currency">
                      <option value="USD">USD</option>
                      <option value="AZN">AZN</option>
                      <option value="TRY">TRY</option>
                      <option value="EURO">EURO</option>
                    </select>
                  </div>
                </div>
                <button type="submit" th:text="#{common.submit}">Submit</button>
              </form>
              <button class="close-button" clsBttn>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                  />
                </svg>
              </button>
            </div>
          </dialog>
          <button
            commonDialog
            dialog="contact"
            th:if="${spa == 'STUDENTS'}"
            style="color: black; border-radius: 10px"
            th:text="#{admin.contactForPayment}"
          >
            Contact for Payment
          </button>
          <dialog contact th:if="${spa == 'STUDENTS'}">
            <div class="wrapper" th:inline="text">
              [[#{admin.contactPrompt}]]
              <ul class="contacts-list">
                <li style="--accent-color: red">
                  <a
                    th:href="@{'/admin/notifyStudent/' + ${entity.id}}"
                    title="Email"
                    contactLink
                    th:inline="text"
                  >
                    [[#{admin.contact.email}]] :
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="24px"
                      fill="#e3e3e3"
                    >
                      <path
                        d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
                      />
                    </svg>
                  </a>
                </li>
                <li class="contactAdminPhone" style="--accent-color: blue">
                  <a
                    th:href="@{'tel:' + ${entity.phoneNumber}}"
                    title="Phone"
                    contactPhone
                    th:inline="text"
                  >
                    [[#{admin.contact.phone}]] :
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="24px"
                      fill="#e3e3e3"
                    >
                      <path
                        d="M162-120q-18 0-30-12t-12-30v-162q0-13 9-23.5t23-14.5l138-28q14-2 28.5 2.5T342-374l94 94q38-22 72-48.5t65-57.5q33-32 60.5-66.5T681-524l-97-98q-8-8-11-19t-1-27l26-140q2-13 13-22.5t25-9.5h162q18 0 30 12t12 30q0 125-54.5 247T631-329Q531-229 409-174.5T162-120Zm556-480q17-39 26-79t14-81h-88l-18 94 66 66ZM360-244l-66-66-94 20v88q41-3 81-14t79-28Zm358-356ZM360-244Z"
                      />
                    </svg>
                  </a>
                  <div>
                    <button id="copy" type="button" th:text="#{common.copy}">Copy</button>
                  </div>
                </li>
              </ul>
              <button class="close-button" clsBttn>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                  />
                </svg>
              </button>
            </div>
          </dialog>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody th:fragment="subjectTableBody(dataObj)">
      <tr th:if="${dataObj == null or #lists.isEmpty(dataObj)}">
        <td colspan="3" th:text="#{subjects.none}">No Subjects found.</td>
      </tr>
      <tr th:each="entity : ${dataObj}">
        <td>
          <p th:text="${entity.id}"></p>
        </td>
        <td>
          <h2 th:text="${entity.subjectTitle}"></h2>
        </td>
        <td class="description">
          <h2 th:text="${entity.subjectDescription}"></h2>
        </td>
        <td>
          <button
            class="delete-user"
            commonDialog
            dialog="deleteSubject"
            style="background-color: transparent"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e3e3e3"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </button>
          <dialog deleteSubject>
            <div class="wrapper">
              <h2 th:text="#{admin.deleteSubject.confirm}">Are You Sure You Want To Delete The Subject?</h2>
              <form
                th:action="@{/admin/deleteSubject/{id}(id=${entity.id})}"
                method="post"
                data-spa-form
              >
                <input
                  type="hidden"
                  th:name="${_csrf.parameterName}"
                  th:value="${_csrf.token}"
                />
                <button
                  type="submit"
                  style="background-color: red; border-radius: 10px"
                  th:text="#{admin.deleteSubject.action}"
                >
                  Delete Subject
                </button>
                <button type="button" style="border-radius: 10px" clsBttn th:text="#{common.cancel}">
                  Cancel
                </button>
              </form>
            </div>
            <button class="close-button" clsBttn>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e8eaed"
              >
                <path
                  d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                />
              </svg>
            </button>
          </dialog>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody th:fragment="courseOfferingTableBody(dataObj)" dataCourseOffering>
      <tr th:if="${dataObj == null or #lists.isEmpty(dataObj)}">
        <td colspan="4" th:text="#{courseOfferings.none}">No CourseOfferings found.</td>
      </tr>
      <tr th:each="entity : ${dataObj}">
        <td>
          <p th:text="${entity.id}"></p>
        </td>
        <td class="description">
          <h2 th:text="${entity.firstName + ' ' + entity.lastName}"></h2>
        </td>
        <td>
          <p th:text="${entity.email}"></p>
        </td>
        <td>
          <p th:text="${entity.affiliatedSince}">xx-xx-xxxx</p>
        </td>
        <td>
          <input
            class="js-student"
            type="checkbox"
            th:name="'student[' + ${entity.id} + ']'"
            th:value="${entity.id}"
            th:attr="data-id=${entity.id}"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody th:fragment="courseEnrollmentTableBody(dataObj)" dataCourseOffering>
      <tr th:if="${dataObj == null or #lists.isEmpty(dataObj)}">
        <td colspan="4" th:text="#{courseEntollments.none}">No CourseEnrollments found.</td>
      </tr>
      <tr th:each="entity : ${dataObj}">
        <td>
          <p th:text="${entity.id}"></p>
        </td>
        <td class="description">
          <h2 th:text="${entity.firstName + ' ' + entity.lastName}"></h2>
        </td>
        <td>
          <p th:text="${entity.email}"></p>
        </td>
        <td>
          <p th:text="${entity.affiliatedSince}">xx-xx-xxxx</p>
        </td>
      </tr>
    </tbody>
  </table>
  <nav
    th:fragment="pagination(basePath, entitiesOnPage, pages, pageIndex)"
    class="pagination"
    th:if="${entitiesOnPage.totalPages > 1}"
  >
    <ul>
      <li>
        <a
          data-spa
          tabindex="-1"
          th:if="${entitiesOnPage.hasPrevious()}"
          th:href="@{${basePath}(__${pageIndex}__=${entitiesOnPage.number})}"
          class="js-page"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed"
          >
            <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
          </svg>
        </a>
      </li>
      <li th:each="page : ${pages}" th:class="${page.isActive}">
        <a
          data-spa
          th:href="@{${basePath}(perPage=${page.perPage}, ${pageIndex}=${page.pageIndex}, direction=${page.direction})}"
          th:text="${page.pageIndex}"
          class="js-page"
        ></a>
      </li>
      <li>
        <a
          data-spa
          th:if="${entitiesOnPage.hasNext()}"
          th:href="@{${basePath}(__${pageIndex}__=${entitiesOnPage.number+2})}"
          class="js-page"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed"
          >
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <nav
    th:fragment="courseOfferingPagination(basePath, entitiesOnPage, pages, pageIndex)"
    class="pagination"
    th:if="${entitiesOnPage.totalPages > 1}"
  >
    <ul>
      <li>
        <a
          tabindex="-1"
          th:if="${entitiesOnPage.hasPrevious()}"
          th:href="@{${basePath}(__${pageIndex}__=${entitiesOnPage.number})}"
          class="js-page"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed"
          >
            <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
          </svg>
        </a>
      </li>
      <li th:each="page : ${pages}" th:class="${page.isActive}">
        <a
          th:href="@{${basePath}(perPage=${page.perPage}, ${pageIndex}=${page.pageIndex}, direction=${page.direction})}"
          th:text="${page.pageIndex}"
          class="js-page"
        ></a>
      </li>
      <li>
        <a
          th:if="${entitiesOnPage.hasNext()}"
          th:href="@{${basePath}(__${pageIndex}__=${entitiesOnPage.number+2})}"
          class="js-page"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed"
          >
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>