<div class="activity" th:fragment="students">
  <div class="title">
    <h1>Students</h1>
  </div>
  <div class="panel">

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th class="description">Full name</th>
          <th>Email</th>
          <th>EnrolledAt</th>
        </tr>
      </thead>
    
      <!-- th:if="${spa == 'STUDENTS'}" -->
      <tbody
        th:replace="~{admin/fragments/tables/entity-pagination.html :: tableBody(${studentsOnPage})}"
      ></tbody>

    </table>
  </div>
  <div id="pagination-container">
    <!-- <div
      th:replace="~{admin/fragments/tables/transaction-pagination.html :: view-all-students}"
    ></div> -->
    <nav
      th:replace="~{admin/fragments/tables/entity-pagination.html :: pagination('/admin/students', ${studentsOnPage}, ${pagesForStudents}, 'pageIndex')}"
    ></nav>
  </div>
</div>
