<div class="activity" th:fragment="students">
  <div class="title">
    <h1 th:text="#{admin.students.title}">Students</h1>
  </div>
  <div class="panel">

    <table>
      <thead>
        <tr>
          <th th:text="#{admin.table.id}">ID</th>
          <th class="description" th:text="#{admin.students.fullName}">Full name</th>
          <th th:text="#{admin.table.email}">Email</th>
          <th th:text="#{admin.students.enrolledAt}">EnrolledAt</th>
        </tr>
      </thead>
    
      <tbody
        th:replace="~{admin/fragments/tables/entity-pagination.html :: tableBody(${studentsOnPage})}"
      ></tbody>

    </table>
  </div>
  <div id="pagination-container">
    <nav
      th:replace="~{admin/fragments/tables/entity-pagination.html :: pagination('/admin/students', ${studentsOnPage}, ${pagesForStudents}, 'pageIndex')}"
    ></nav>
  </div>
</div>