<div class="activity" th:fragment="student-payments">
  <div class="title">
    <h1>Students That Needs to Pay</h1>
  </div>
  <div class="panel">

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th class="description">Full name</th>
          <th>Payment Amount</th>
          <th>Payment Date</th>
          <th></th>
        </tr>
      </thead>
    
      <!-- th:if="${spa == 'TEACHERS'}" -->
      <tbody
        th:replace="~{admin/fragments/tables/entity-pagination.html :: payableTableBody(${payableStudentsOnPage})}"
      ></tbody>

    </table>
  </div>
  <div id="pagination-container">
    <!-- <div
      th:replace="~{admin/fragments/tables/transaction-pagination.html :: view-all-teachers}"
    ></div> -->
    <nav
      th:replace="~{admin/fragments/tables/entity-pagination.html :: pagination('/admin/students', ${payableStudentsOnPage}, ${pagesForPayableStudents}, 'payablePageIndex')}"
    ></nav>
  </div>
</div>
