<div class="activity" th:fragment="subjects">
  <div class="title">
    <h1 th:text="#{admin.subjects.title}">Subjects</h1>
  </div>
  <div class="panel">

    <table>
      <thead>
        <tr>
          <th th:text="#{admin.table.id}">ID</th>
          <th th:text="#{admin.subjects.table.title}">Title</th>
          <th class="description" th:text="#{admin.subjects.table.description}">Description</th>
        </tr>
      </thead>

      <tbody
        th:replace="~{admin/fragments/tables/entity-pagination.html :: subjectTableBody(${subjectsOnPage})}"
      ></tbody>

    </table>
  </div>
  <div id="pagination-container">
    <nav
      th:replace="~{admin/fragments/tables/entity-pagination.html :: pagination('/admin/subjects', ${subjectsOnPage}, ${pagesForSubjects}, 'pageIndex')}"
    ></nav>
  </div>
</div>