<div class="activity" th:fragment="teachers">
  <div class="title">
    <h1 th:text="#{admin.teachers.title}">Teachers</h1>
  </div>
  <div class="panel">

    <table>
      <thead>
        <tr>
          <th th:text="#{admin.table.id}">ID</th>
          <th class="description" th:text="#{admin.teachers.fullName}">Full name</th>
          <th th:text="#{admin.table.email}">Email</th>
          <th th:text="#{admin.teachers.affiliationDate}">Affiliation Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    
      <tbody
        th:replace="~{admin/fragments/tables/entity-pagination.html :: tableBody(${teachersOnPage})}"
      ></tbody>

    </table>
  </div>
  <div id="pagination-container">
    <nav
      th:replace="~{admin/fragments/tables/entity-pagination.html :: pagination('/admin/teachers', ${teachersOnPage}, ${pagesForTeachers}, 'pageIndex')}"
    ></nav>
  </div>
</div>