<div class="activity" th:fragment="teacher-pay-over-dues">
  <div class="title">
    <h1 th:text="#{admin.teacherPayOverDues.title}">Teachers pay over dues</h1>
  </div>
  <div class="panel">

    <table>
      <thead>
        <tr>
          <th th:text="#{admin.table.id}">ID</th>
          <th class="description" th:text="#{admin.teachers.fullName}">Full name</th>
          <th th:text="#{admin.teacherPayOverDues.amount}">Pay over due amount</th>
          <th th:text="#{admin.teacherPayOverDues.dueDate}">Pay over due date</th>
          <th th:text="#{admin.table.createdAt}">CreatedAt</th>
          <th th:text="#{transactions.status}">Status</th>
        </tr>
      </thead>
    
      <tbody>
        <tr colspan="7">
          <td th:text="#{admin.teacherPayOverDues.none}">No Teacher Pay Overdues yet...</td>
        </tr>
        <tr th:each="p : ${paymentOverDues}">
          <td th:text="${p.id}"></td>
          <td th:text="${p.fullName}"></td>
          <td th:text="${p.amount}"></td>
          <td th:text="${p.dueDate}"></td>
          <td th:text="${p.createdAt}"></td>
          <td th:text="${p.status}"></td>
        </tr>
      </tbody>

    </table>
  </div>
  <div id="pagination-container">
    <nav
      th:replace="~{admin/fragments/tables/entity-pagination.html :: pagination('/admin/teachers', ${payableTeachersOnPage}, ${pagesForPayableTeachers}, 'payablePageIndex')}"
    ></nav>
  </div>
</div>