<div class="activity" th:fragment="teachers">
  <div class="title">
    <h1>Teachers</h1>
  </div>
  <div class="panel">

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th class="description">Full name</th>
          <th>Email</th>
          <th>Affiliation Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    
      <!-- th:if="${spa == 'TEACHERS'}" -->
      <tbody
        th:replace="~{admin/fragments/tables/entity-pagination.html :: tableBody(${teachersOnPage})}"
      ></tbody>

    </table>
  </div>
  <div id="pagination-container">
    <!-- <div
      th:replace="~{admin/fragments/tables/transaction-pagination.html :: view-all-teachers}"
    ></div> -->
    <nav
      th:replace="~{admin/fragments/tables/entity-pagination.html :: pagination('/admin/teachers', ${teachersOnPage}, ${pagesForTeachers}, 'pageIndex')}"
    ></nav>
  </div>
</div>
