<div class="activity" th:fragment="teacher-pay-dues">
  <div class="title">
    <h1>Teachers pay dues</h1>
  </div>
  <div class="panel">

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th class="description">Full name</th>
          <th>Pay due amount</th>
          <th>Pay due date</th>
          <th></th>
        </tr>
      </thead>
    
      <!-- th:if="${spa == 'TEACHERS'}" -->
      <tbody
        th:replace="~{admin/fragments/tables/entity-pagination.html :: payableTableBody(${payableTeachersOnPage})}"
      ></tbody>

    </table>
  </div>
  <div id="pagination-container">
    <!-- <div
      th:replace="~{admin/fragments/tables/transaction-pagination.html :: view-all-teachers}"
    ></div> -->
    <nav
      th:replace="~{admin/fragments/tables/entity-pagination.html :: pagination('/admin/teachers', ${payableTeachersOnPage}, ${pagesForPayableTeachers}, 'payablePageIndex')}"
    ></nav>
  </div>
</div>
