<div th:fragment="transaction-pagination">
  <table>
    <tbody th:fragment="tableBody(dataObj)">
      <tr th:if="${dataObj == null or #lists.isEmpty(dataObj)}">
        <td colspan="4" th:text="#{transactions.none}">No transactions found.</td>
      </tr>
      <tr
        th:each="entityTransaction : ${dataObj}"
        th:data-amount="${entityTransaction.transactionAmount}"
        th:data-fee="${entityTransaction.transactionFee}"
        th:data-total="${entityTransaction.transactionTotal}"
        th:data-paid-by="${entityTransaction.transactionPaidBy}"
        th:data-date="${entityTransaction.transactionTime}"
        th:data-transaction-id="${entityTransaction.transactionId}"
        th:data-details="${entityTransaction.transactionDetails}"
        th:data-status="${entityTransaction.status}"
      >
        <td>
          <p th:text="${entityTransaction.transactionTime}"></p>
        </td>
        <td class="description">
          <h2 th:text="${entityTransaction.transactionPaidBy}"></h2>
          <small th:text="${entityTransaction.transactionDescription}"></small>
        </td>
        <td status-icon>
          <div class="checked-unchecked">
            <div class="pending">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e3e3e3"
              >
                <path
                  d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                />
              </svg>
            </div>
            <div class="checkbox">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e8eaed"
              >
                <path
                  d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                />
              </svg>
            </div>
            <div class="rejected">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e3e3e3"
              >
                <path
                  d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                />
              </svg>
            </div>
          </div>
        </td>
        <td class="amount-uprise">
          <p th:text="${entityTransaction.transactionAmount}"></p>
          <p th:text="${entityTransaction.currency}"></p>
        </td>
      </tr>
    </tbody>
  </table>
  <div
    th:if="${spa == 'HOME' && teacherTransactions.size() >= 10 && mode == 'PREVIEW'}"
    class="view-all"
    id="view-all"
    th:fragment="view-all-teachers"
  >
    <a data-spa th:href="@{/admin/teacherTransactions}"> View all &gt; </a>
  </div>
  <div
    th:if="${spa == 'HOME' && studentTransactions.size() >= 10 && mode == 'PREVIEW'}"
    class="view-all"
    id="view-all"
    th:fragment="view-all-students"
  >
    <a data-spa th:href="@{/admin/studentTransactions}"> View all &gt; </a>
  </div>
  <div
    th:if="${transactionsOnPage.getSize() >= 10 && mode == 'PREVIEW'}"
    class="view-all"
    id="view-all"
    th:fragment="view-all-requests"
  >
    <a data-spa th:href="@{/admin/requests}"> View all &gt; </a>
  </div>
  <nav
    id="pagination"
    th:fragment="pagination(basePath)"
    class="pagination"
    th:if="${transactionsOnPage.totalPages > 1 && mode == 'VIEW_ALL'}"
  >
    <ul>
      <!-- class="disabled" -->
      <li>
        <a
          data-spa
          tabindex="-1"
          th:if="${transactionsOnPage.hasPrevious()}"
          th:href="@{${basePath}(pageIndex=${transactionsOnPage.number})}"
          class="js-page"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed"
          >
            <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
          </svg>
        </a>
      </li>
      <li th:each="page : ${pages}" th:class="${page.isActive}">
        <a
          data-spa
          th:href="@{${basePath}(perPage=${page.perPage}, pageIndex=${page.pageIndex}, direction=${page.direction}, role=${page.role})}"
          th:text="${page.pageIndex}"
          class="js-page"
        ></a>
      </li>
      <li>
        <a
          data-spa
          th:if="${transactionsOnPage.hasNext()}"
          th:href="@{${basePath}(pageIndex=${transactionsOnPage.number+2})}"
          class="js-page"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed"
          >
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
          </svg>
        </a>
      </li>
    </ul>
    <!-- <a th:href="@{/user/dashboard}"> View less &lt; </a> -->
  </nav>
  <form
    th:if="${mode == 'VIEW_ALL'}"
    class="transactions"
    th:fragment="transactions-filter"
    th:action="@{/user/transactions}"
    method="GET"
    pagination-filter-root
  >
    <div class="title">
      <h3>Transactions</h3>
    </div>
    <div class="panel transactions">
      <!-- <p>Select Transactions from start date to end date</p> -->
      <div class="wrapper">
        <div class="dates">
          <label for="start-date">From : <input type="date" name="startDate" id="start-date" /></label>
          <label for="end-date">To : <input type="date" name="endDate" id="end-date" /></label>
        </div>
        <div
          th:replace="~{fragments/statements.html :: statements('/user/transactions/getReport')}"
        ></div>
      </div>
      <div class="drop-down">
        <input
          type="checkbox"
          id="create"
          aria-hidden="true"
          aria-checked="undefined"
          focusable="false"
        />
        <label
          for="create"
          role="menu"
          aria-expanded="undefined"
          aria-haspopup="true"
          tabindex="0"
        >
          Sort By
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style="transform: rotate(90deg)"
          >
            <path
              d="M5 21V14M5 10V3M12 21V12M12 8V3M19 21V16M19 12V3M2 14H8M9 8H15M16 16H22"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </label>
        <ul class="sub-menu">
          <div class="wrapper">
            <li role="menuitem">
              <input
                type="radio"
                id="transaction-date"
                value="transactionTime"
                name="sortBy"
                th:checked="${sortBy == 'transactionTime'}"
                autocomplete="off"
              />
              <label for="transaction-date"><small>Date</small></label>
            </li>
            <li role="menuitem">
              <input
                type="radio"
                id="transaction-amount"
                value="transactionAmount"
                name="sortBy"
                th:checked="${sortBy == 'transactionAmount'}"
                autocomplete="on"
              />
              <label for="transaction-amount"><small>Amount</small></label>
            </li>
            <li role="menuitem">
              <input
                type="radio"
                id="direction-ascending"
                value="ASC"
                name="direction"
                th:checked="${direction == 'ASC'}"
                autocomplete="on"
              />
              <label for="direction-ascending"><small>Ascending</small></label>
            </li>
            <li role="menuitem">
              <input
                type="radio"
                id="direction-descending"
                value="DESC"
                name="direction"
                th:checked="${direction == 'DESC'}"
                autocomplete="off"
              />
              <label for="direction-descending"
                ><small>Descending</small></label
              >
            </li>
          </div>
        </ul>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
