<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <title>Home</title>

  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script type="module" th:src="@{/js/hero-main.js}" defer></script>
  </head>

  <body class="layout landing">
    <div id="top-anchor"></div>

    <div th:replace="~{fragments/header.html :: header}"></div>

    <div class="hero">
      <div class="hero-container" style="--multiplier: 100">
        <h1 class="hero-title">CODE WORLD</h1>
        <p class="hero-sub">Education Center</p>
      </div>
      <img
        class="layer layer1"
        th:src="@{/assets/sprites/hero-banner.png}"
        aria-hidden="true"
        style="--multiplier: 18"
      />
      <img
        class="layer layer2"
        th:src="@{/assets/sprites/cloud1.png}"
        aria-hidden="true"
        style="animation: none"
      />
      <img
        class="layer layer3"
        th:src="@{/assets/sprites/cloud2.png}"
        aria-hidden="true"
        style="animation: none"
      />
    </div>

    <main>
      <div class="container">
        <div class="container-img"></div>
        <a href="#about">About Us</a>
        <h1>First Choice For Education AnyWhere</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut nemo
          nulla ut, eaque iusto fuga numquam laborum aspernatur necessitatibus
          ipsam, reiciendis tempore minus cupiditate soluta excepturi nisi
          similique asperiores nostrum. Voluptates qui, quis totam rem dolores
          deleniti, incidunt vero, nulla quaerat maxime odio accusamus. Non
          veritatis explicabo vitae dolor, excepturi labore! Corporis, eos
          aliquid in deserunt laborum eius assumenda eum!
        </p>
        <div class="counters">
          <div class="counter" style="--accent-color: black">
            <h3>123</h3>
            <p>Online Courses</p>
          </div>
          <div class="counter" style="--accent-color: black">
            <h3>123</h3>
            <p>Online Courses</p>
          </div>
          <div class="counter" style="--accent-color: black">
            <h3>123</h3>
            <p>Online Courses</p>
          </div>
          <div class="counter" style="--accent-color: black">
            <h3>123</h3>
            <p>Online Courses</p>
          </div>
        </div>
      </div>
      <div class="carousel">
        <div class="panel">
          <div class="card card1"></div>
          <div class="card card2"></div>
          <div class="card card3"></div>
          <div class="card card4"></div>
        </div>
      </div>
      <form
        th:action="@{/restricted/request}"
        class="form-signIn"
        method="POST"
        id="sign-in-anchor"
      >
        <fieldset>
          <legend>Request A Sign in</legend>
          <label
            for="first-name"
            data-invalid="Invalid First Name"
            data-empty="Enter your First Name"
            data-valid="Valid First Name"
          >
            <div class="help" id="first-name-help-request">
              You must enter your valid real first name
            </div>
            Enter Your First name :
            <input
              type="text"
              id="first-name"
              aria-describedby="first-name-help-request"
              placeholder="John"
              pattern="^[A-Z]{1}[a-z]{1,14}$"
              maxlength="15"
              name="firstName"
              autocomplete="name"
            />
          </label>
          <label
            for="last-name"
            data-invalid="Invalid Last Name"
            data-empty="Enter your Last Name"
            data-valid="Valid Last Name"
          >
            <div class="help" id="last-name-help-request">
              You must enter your valid real last name
            </div>
            Enter Your Last name :
            <input
              type="text"
              id="last-name"
              aria-describedby="last-name-help-request"
              placeholder="Doe"
              pattern="^[A-Z]{1}[a-z]{1,19}$"
              maxlength="20"
              name="lastName"
              autocomplete="family-name"
            />
          </label>
          <label
            for="email"
            data-invalid="Invalid Email"
            data-empty="Enter your Email"
            data-valid="Valid Email"
          >
            <div class="help" id="email-help-request">
              You must enter your email
            </div>
            Enter Your Email :
            <input
              type="email"
              id="email"
              aria-describedby="email-help-request"
              placeholder="example@mail.com"
              pattern="^[A-Za-z0-9\.+-_]+@[A-Za-z]{3,6}\.[A-Za-z]{1,3}"
              name="email"
              autocomplete="email"
            />
          </label>
          <label for="role">
            Who are you claiming to be?
            <select name="role" id="role">
              <option value="TEACHER">Teacher</option>
              <option value="STUDENT">Student</option>
            </select>
          </label>
        </fieldset>
        <button type="submit">Request</button>
        <div class="opts">
          <a th:href="@{/restricted/}">Already registered? Authenticate!</a>
        </div>
      </form>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
  </body>
</html>
