<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>

  <title>Dashboard</title>

  <div th:replace="~{fragments/head.html :: head}"></div>

  <body class="layout-dashboard">
    <div id="top-anchor"></div>
    
    <div th:replace="~{fragments/header.html :: header}"></div>

    <main>
      <div class="wrapper">

        <div th:replace="~{fragments/profile-container.html :: profile-container}"></div>
        <div th:replace="~{fragments/balance-container.html :: balance-container}"></div>
        <div th:replace="~{fragments/support.html :: support}"></div>
        
        <div class="profile-completeness">
          <div class="title">
            <h3>Profile Completeness <span>50%</span></h3>
          </div>
          <div class="panel">
            <div class="step">
              <div class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M280-40q-33 0-56.5-23.5T200-120v-720q0-33 23.5-56.5T280-920h400q33 0 56.5 23.5T760-840v124q18 7 29 22t11 34v80q0 19-11 34t-29 22v404q0 33-23.5 56.5T680-40H280Zm0-80h400v-720H280v720Zm0 0v-720 720Zm200-40q17 0 28.5-11.5T520-200q0-17-11.5-28.5T480-240q-17 0-28.5 11.5T440-200q0 17 11.5 28.5T480-160Z"
                  />
                </svg>
              </div>
              <div class="checked-unchecked checked">
                <div class="checkbox">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e8eaed"
                  >
                    <path
                      d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                    />
                  </svg>
                </div>
              </div>
              <a
                href="#"
                class="name"
                added="Mobile Added"
                unadded="Add Mobile"
              ></a>
            </div>
            <div class="step">
              <div class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
                  />
                </svg>
              </div>
              <div class="checked-unchecked checked">
                <div class="checkbox">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e8eaed"
                  >
                    <path
                      d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                    />
                  </svg>
                </div>
              </div>
              <a
                href="#"
                class="name"
                added="Email Added"
                unadded="Add Email"
              ></a>
            </div>
            <div class="step">
              <div class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M880-720v480q0 33-23.5 56.5T800-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720Zm-720 80h640v-80H160v80Zm0 160v240h640v-240H160Zm0 240v-480 480Z"
                  />
                </svg>
              </div>
              <div class="checked-unchecked">
                <div class="checkbox">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e8eaed"
                  >
                    <path
                      d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                    />
                  </svg>
                </div>
              </div>
              <a
                href="#"
                class="name"
                added="Card Added"
                unadded="Add Card"
              ></a>
            </div>
            <div class="step">
              <div class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z"
                  />
                </svg>
              </div>
              <div class="checked-unchecked">
                <div class="checkbox">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e8eaed"
                  >
                    <path
                      d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                    />
                  </svg>
                </div>
              </div>
              <a
                href="#"
                class="name"
                unadded="Add Account"
                added="Account Added"
              ></a>
            </div>
          </div>
        </div>
        <div class="activity">
          <div class="title" id="recent-activity">
            <h1>Recent Activity</h1>
          </div>
          <div class="panel" id="recent-activity-panel">
            <dialog id="transaction-dialog">
              <div class="wrapper" id="dialog-wrapper">
                <div class="transaction">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#e8eaed"
                  >
                    <path
                      d="M120-120v-560h160v-160h400v320h160v400H520v-160h-80v160H120Zm80-80h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 320h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 480h80v-80h-80v80Zm0-160h80v-80h-80v80Z"
                    />
                  </svg>
                  <h3 id="data-paid-by-header"></h3>
                  <h1 id="data-total-header"></h1>
                  <small id="data-date"></small>
                </div>
                <div class="transaction-details">
                  <div class="header">
                    <h1 class="title">Transaction Details</h1>
                    <button id="dialog-button" onclick="showDialog(false)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                      >
                        <path
                          d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="amount-details">
                    <div class="data">
                      <small>Payment Amount</small
                      ><small
                        id="data-amount"
                        style="color: var(--text-color)"
                      ></small>
                    </div>
                    <div class="data">
                      <small>Fee</small
                      ><small
                        id="data-fee"
                        style="color: var(--text-color)"
                      ></small>
                    </div>
                  </div>
                  <div class="transfer-details">
                    <div class="data">
                      <h3>Total Amount</h3>
                      <h3 id="data-total"></h3>
                    </div>
                    <div class="others">
                      <h3>Paid By:</h3>
                      <small id="data-paid-by"></small>
                      <h3>Transaction ID:</h3>
                      <small id="data-transaction-id"></small>
                      <h3>Description:</h3>
                      <small id="data-description"></small>
                      <h3>Status</h3>
                      <div
                        class="checked-unchecked pending"
                        style="display: flex; gap: 0.5em; align-items: center"
                      >
                        <small id="data-status"></small>
                        <div class="checkbox" style="width: 16px; height: 16px">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="24px"
                            viewBox="0 -960 960 960"
                            width="24px"
                            fill="#e8eaed"
                          >
                            <path
                              d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                            />
                          </svg>
                        </div>
                        <div class="rejected" style="width: 16px; height: 16px">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="24px"
                            viewBox="0 -960 960 960"
                            width="24px"
                            fill="#e3e3e3"
                          >
                            <path
                              d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                            />
                          </svg>
                        </div>
                        <div class="pending" style="width: 16px; height: 16px">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="24px"
                            viewBox="0 -960 960 960"
                            width="24px"
                            fill="#e3e3e3"
                          >
                            <path
                              d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </dialog>
            <table>
              <thead>
                <tr>
                  <th>Date</th>
                  <th class="description">Description</th>
                  <th>Status</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  data-amount="$62"
                  data-fee="-$4.8"
                  data-total="$557.20"
                  data-paid-by="HDFC Bank"
                  data-date="16 April 2021"
                  data-transaction-id="26566689645685976589"
                  data-description="Envato March 2021 Member Payment"
                  data-status="Rejected"
                >
                  <td>
                    <p>
                      16 <br />
                      APR
                    </p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked checked">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-uprise">
                    <p>$62</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked pending">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-downrise">
                    <p>$562</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked rejected">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-uprise">
                    <p>$52</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked checked">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-downrise">
                    <p>$2</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked checked">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-uprise">
                    <p>$5</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked pending">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-uprise">
                    <p>$56</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked checked">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>$0</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked rejected">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-uprise">
                    <p>$162</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked rejected">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-downrise">
                    <p>$262</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked pending">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-uprise">
                    <p>$16</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked rejected">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                      <div class="rejected">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-uprise">
                    <p>$462</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked checked">
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-uprise">
                    <p>$162</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked pending">
                      <div class="pending">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e3e3e3"
                        >
                          <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
                          />
                        </svg>
                      </div>
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-downrise">
                    <p>$362</p>
                    <p>(USD)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>16</p>
                    <p>APR</p>
                  </td>
                  <td class="description">
                    <h2>HDFC Bank</h2>
                    <small>Withdraw To Bank account</small>
                  </td>
                  <td>
                    <div class="checked-unchecked checked">
                      <div class="checkbox">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M400-304 240-464l56-56 104 104 264-264 56 56-320 320Z"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                  <td class="amount-downrise">
                    <p>$562</p>
                    <p>(USD)</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="view-all">
            <a href="#"> View all > </a>
          </div>
        </div>
      </div>
    </main>

    <div th:replace="fragments/footer.html :: footer"></div>

    <!-- <div th:replace="~{fragments/scripts.html :: scripts}"></div> -->
  </body>
</html>
