<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <title>Home</title>

  <div th:replace="~{fragments/head.html :: head}"></div>

  <body class="layout landing">
    <div id="top-anchor"></div>

    <div th:replace="~{fragments/header.html :: header}"></div>

    <div class="hero">
      <div class="hero-container" style="--multiplier: 100">
        <h1 class="hero-title">CODE WORLD</h1>
        <p class="hero-sub">Education Center</p>
      </div>
      <img
        class="layer layer1"
        th:src="@{/assets/sprites/hero-banner.png}"
        aria-hidden="true"
        style="--multiplier: 18"
      />
      <img
        class="layer layer2"
        th:src="@{/assets/sprites/cloud1.png}"
        aria-hidden="true"
        style="animation: none"
      />
      <img
        class="layer layer3"
        th:src="@{/assets/sprites/cloud2.png}"
        aria-hidden="true"
        style="animation: none"
      />
    </div>

    <main>
      <div class="carousel">
        <div class="panel">
          <div class="card card1"></div>
          <div class="card card2"></div>
          <div class="card card3"></div>
          <div class="card card4"></div>
        </div>
      </div>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
  </body>
</html>
