<form
  class="transactions"
  th:fragment="users-filter(title, basePath, reportPath)"
  th:action="@{${basePath}}"
  method="GET"
>
  <div class="title">
    <h3 th:text="${title}"></h3>
  </div>
  <input type="number" name="perPage" />
  <div class="panel">
    <div class="wrapper">
      <div
        th:replace="~{fragments/statements.html :: statements(${reportPath})}"
      ></div>
    </div>
    <div th:replace="~{admin/fragments/main/filters/sort_users_by.html :: sort-users-by}"></div>
  </div>
  <button type="submit">Submit</button>
</form>
