<div th:fragment="pie-chart" style="display: contents;">
  <div class="title">
    <h3>User Health</h3>
  </div>
  <div
    class="pie-chart"
    title="User Health"
    element1="newThisMonth"
    element2="activeUsers"
    element3="bannedUsers"
    element4="inActiveUsers"
    th:style="|
      --quantity: 4;

      --start-angle: 135deg;

      --element1: ${newThisMonthPercentage}%;
      --element2: ${activeUsersPercentage}%;
      --element3: ${bannedUsersPercentage}%;
      --element4: ${inActiveUsersPercentage}%;

      --element1-color: black;
      --element2-color: orange;
      --element3-color: blue;
      --element4-color: green;
    |"     
  ></div>
  <div class="diff">
    <ul style="list-style-type: none;">
      <li style="--accent-color: black;">
        Active Users : <span th:text="${newThisMonth}"></span> 
      </li>
      <li style="--accent-color: orange;">
        InActive Users : <span th:text="${activeUsers}"></span>
      </li>
      <li style="--accent-color: blue;">
        Banned Users : <span th:text="${bannedUsers}"></span>
      </li>
      <li style="--accent-color: green;">
        New This Month : <span th:text="${inActiveUsers}"></span> 
      </li>
    </ul>
  </div>
</div>
