<div th:fragment="pie-chart" style="display: contents;">
  <div class="title">
    <h3>Title</h3>
  </div>
  <div
    class="pie-chart"
    title="Title"
    element1="Element1"
    element2="Element2"
    element3="Element3"
    element4="Element4"
    element5="Element5"
    style="
      --quantity: 5;

      --start-angle: 90deg;

      --element1: 20%;
      --element2: 50%;
      --element3: 10%;
      --element4: 10%;
      --element5: 10%;

      --element1-color: orange;
      --element2-color: yellow;
      --element3-color: blue;
      --element4-color: green;
      --element5-color: black;
    "
  ></div>
  <div class="diff">
    <h3>Teachers Students</h3>
  </div>
</div>
