<div
  class="personal-details personal-details recent-notifications"
  th:fragment="recent-notifications"
>
  <div class="title">
    <h3 th:text="#{notifications.recent.title}">Recent Notifications</h3>
    <form method="POST" th:action="@{/account/notifications/markAllRead}">
      <input
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"
      />
      <button type="submit" class="edit" th:text="#{notifications.markAllRead}">
        Mark All Read
      </button>
    </form>
  </div>
  <div class="panel" style="flex-direction: column">
    <ul>
      <li th:each="notification : ${latestNotifications}">
        <a th:href="@{${notification.link}}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e8eaed"
          >
            <path
              d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z"
            />
          </svg>
        </a>
        <div class="content">
          <div
            class="notification-description"
            th:text="${notification.notificationContent}"
          >
            Notification Body
          </div>
          <small th:text="${notification.createdAt}">dd-MM-yyyy</small>
        </div>
        <form th:action="@{'/account/notifications/markRead/' + ${notification.id}}" method="POST">
          <button type="submit" class="mark-read">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e3e3e3"
            >
              <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
            </svg>
          </button>
        </form>
      </li>
    </ul>
    <!-- <form action="#" method="POST">
      <button type="submit" class="load-more" th:text="#{notifications.loadMore}">Load More</button>
    </form> -->
  </div>
</div>

<form
  th:action="@{/account/notifications/markRead/{id}(id=${notification.id})}"
  method="POST"
>
  <input
    type="hidden"
    th:name="${_csrf.parameterName}"
    th:value="${_csrf.token}"
  />
  <button type="submit" th:text="#{notifications.markRead}">Mark Read</button>
</form>
