<aside th:fragment="aside">
  <div class="logo">
    <a th:href="@{/admin/}" class="admin-panel" th:text="#{admin.aside.panel}">
      ADMIN PANEL
    </a>
  </div>
  <nav>
    <ul>
      <li th:text="#{admin.aside.entities}">Entities</li>
      <li>
        <a
          data-spa
          th:href="@{/admin/teachers}"
          th:text="#{admin.aside.teachers}"
          >Teachers</a
        >
      </li>
      <li>
        <a
          data-spa
          th:href="@{/admin/students}"
          th:text="#{admin.aside.students}"
          >Students</a
        >
      </li>
      <li>
        <a
          data-spa
          th:href="@{/admin/fetchUser}"
          th:text="#{admin.aside.fetchUser}"
          >Fetch User</a
        >
      </li>
      <li>
        <a
          data-spa
          th:href="@{/admin/createUser}"
          th:text="#{admin.aside.createUser}"
          >Create User</a
        >
      </li>
      <li>
        <a
          data-spa
          th:href="@{/admin/subjects}"
          th:text="#{admin.aside.subjects}"
          >Subjects</a
        >
      </li>
    </ul>
    <ul>
      <li th:text="#{admin.aside.business}">Business</li>
      <li>
        <a
          data-spa
          th:href="@{/admin/teacherTransactions}"
          th:text="#{admin.aside.teacherTransactions}"
          >Teachers Transactions</a
        >
      </li>
      <li>
        <a
          data-spa
          th:href="@{/admin/studentTransactions}"
          th:text="#{admin.aside.studentTransactions}"
          >Students Transactions</a
        >
      </li>
    </ul>
    <ul>
      <li th:text="#{admin.aside.auth}">Auth</li>
      <li>
        <a
          data-spa
          th:href="@{/admin/requests}"
          th:text="#{admin.aside.requests}"
          >Requests</a
        >
      </li>
    </ul>
    <!-- <ul>
      <li>Media</li>
      <li>
        <div class="drop-down">
          <input
            type="checkbox"
            id="create"
            aria-hidden="true"
            aria-checked="undefined"
            focusable="false"
          />
          <label for="create">Assets</label>
          <ul class="sub-menu">
            <div class="wrapper">
              <li role="menuitem"><a href="#">Profiles</a></li>
              <li role="menuitem"><a href="#">Thumbnails</a></li>
            </div>
          </ul>
        </div>
      </li>
    </ul> -->
  </nav>
</aside>
