<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <body>
    <footer th:fragment="footer">
      <div class="reach">
        <div class="contact">
          <ul>
            <li><a href="#">Element</a></li>
            <li><a href="#">Element</a></li>
            <li><a href="#">Element</a></li>
            <li><a href="#">Element</a></li>
            <li><a href="#">Element</a></li>
            <li><a href="#">Element</a></li>
          </ul>
        </div>
      </div>
      <div class="terms">
        <small
          >Copyright &copy; 2020 <span>Payyed</span>. All Rights Reserved</small
        >
        <div class="terms-of-service">
          <ul>
            <li><a href="#">Element</a></li>
            <li><a href="#">Element</a></li>
            <li><a href="#">Element</a></li>
          </ul>
        </div>
      </div>
      <div class="anchor">
        <a
          href="#top-anchor"
          style="display: flex; align-items: center; justify-content: center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="black"
          >
            <path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z" />
          </svg>
        </a>
      </div>
    </footer>
  </body>
</html>
