<div th:fragment="latest-activity" style="display: contents;">
  <div class="title">
    <h3>Latest Activity</h3>
  </div>
  <div class="wrapper">
    <ul>
      <li>
        <div class="title">Title</div>
        <small>description</small>
        <a href="#">More...</a>
      </li>
      <li>
        <div class="title">Title</div>
        <small>description</small>
        <a href="#">More...</a>
      </li>
      <li>
        <div class="title">Title</div>
        <small>description</small>
        <a href="#">More...</a>
      </li>
      <li>
        <div class="title">Title</div>
        <small>description</small>
        <a href="#">More...</a>
      </li>
      <li>
        <div class="title">Title</div>
        <small>description</small>
        <a href="#">More...</a>
      </li>
      <li>
        <div class="title">Title</div>
        <small>description</small>
        <a href="#">More...</a>
      </li>
      <li>
        <div class="title">Title</div>
        <small>description</small>
        <a href="#">More...</a>
      </li>
      <li>
        <div class="title">Title</div>
        <small>description</small>
        <a href="#">More...</a>
      </li>
      <li>
        <div class="title">Title</div>
        <small>description</small>
        <a href="#">More...</a>
      </li>
      <li>
        <div class="title">Title</div>
        <small>description</small>
        <a href="#">More...</a>
      </li>
    </ul>
  </div>
</div>
